* {
  font-family: sans-serif;
  color: #d7d7d7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 10px solid rgb(28, 178, 178);
  position: relative;
  background-color: #282c34;
}

h1,
h2,
h3 {
  color: rgb(28, 178, 178);
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #3e4551;
  color: #b2c7e9;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: 0;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#Copyright {
  font-size: 16px;
}

.Related-Author {
  font-size: 18xp;
  font-weight: bold;
}

.Related {
  list-style: none;
  margin-left: 0px;
}

aside {
  border-top: 5px solid rgb(17, 119, 119);
  border-bottom: 5px solid rgb(17, 119, 119);
  padding: 50px 40px;
  width: 500px;
  box-sizing: border-box;
}

aside *,
aside {
  background-color: #2f333d;
}

ul,
ol {
  margin-left: 50px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

a:link {
  color: #75c6ff;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
a:visited {
  color: #75c6ff;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: underline dotted;
}
a:active {
  color: orangered;
}

.MainHeader {
  background-color: #21252b;
}
.MainHeader {
  padding: 20px 40px;
  margin-bottom: 60px;
  height: auto;
}

.PostHeader {
  margin-bottom: 40px;
}

.postImage {
  width: 100%;
  height: auto;
}

.Container {
  width: 1200px;
  margin: 0 auto;
}

button {
  font-size: 22px;
  padding: 22px;
  position: absolute;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
  background-color: #282c34;
}

.author-img {
  border: 0;
  border-radius: 10px;
}

.author {
  font-style: italic;
  font-size: 18px;
}

/* h1 {
  float: left;
}
nav {
  padding-top: 10px;
  float: right;
} */

/* .Clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  background-color: blue;
  width: 65%;
  float: left;
}
aside {
  background-color: red;
  width: 30%;
  float: right;
}
footer {
 background-color: yellowgreen; 
  clear: both;
} */

.MainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Author-Box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.Author-Box p {
  margin-bottom: 0;
}

.Related-Post {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Related-Link:link {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
  margin-left: 0px;
}
.Related-Author {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

article {
  flex: 1;
}

aside {
  padding: 20px;
  flex: 0 0 300px;
}
